@charset "UTF-8";
@font-face {
  font-family: "SaolDisplay-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("./assets/fonts/SaolDisplay-Regular.eot");
  src: url("./assets/fonts/SaolDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/SaolDisplay-Regular.woff2") format("woff2"), url("./assets/fonts/SaolDisplay-Regular.woff") format("woff"), url("./assets/fonts/SaolDisplay-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "PlayfairDisplay-Regular";
  font-weight: normal;
  font-style: normal;
  src: url("./assets/fonts/PlayfairDisplay-Regular.eot");
  src: url("./assets/fonts/PlayfairDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/PlayfairDisplay-Regular.woff2") format("woff2"), url("./assets/fonts/PlayfairDisplay-Regular.woff") format("woff"), url("./assets/fonts/PlayfairDisplay-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Rajdhani-Display";
  font-weight: 300;
  font-style: normal;
  src: url("./assets/fonts/Rajdhani-Light.eot");
  src: url("./assets/fonts/Rajdhani-Light.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/Rajdhani-Light.woff2") format("woff2"), url("./assets/fonts/Rajdhani-Light.woff") format("woff"), url("./assets/fonts/Rajdhani-Light.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Rajdhani-Display";
  font-weight: 400;
  font-style: normal;
  src: url("./assets/fonts/Rajdhani-Regular.eot");
  src: url("./assets/fonts/Rajdhani-Regular.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/Rajdhani-Regular.woff2") format("woff2"), url("./assets/fonts/Rajdhani-Regular.woff") format("woff"), url("./assets/fonts/Rajdhani-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Rajdhani-Display";
  font-weight: 500;
  font-style: normal;
  src: url("./assets/fonts/Rajdhani-Medium.eot");
  src: url("./assets/fonts/Rajdhani-Medium.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/Rajdhani-Medium.woff2") format("woff2"), url("./assets/fonts/Rajdhani-Medium.woff") format("woff"), url("./assets/fonts/Rajdhani-Medium.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Rajdhani-Display";
  font-weight: 600;
  font-style: normal;
  src: url("./assets/fonts/Rajdhani-SemiBold.eot");
  src: url("./assets/fonts/Rajdhani-SemiBold.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/Rajdhani-SemiBold.woff2") format("woff2"), url("./assets/fonts/Rajdhani-SemiBold.woff") format("woff"), url("./assets/fonts/Rajdhani-SemiBold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Rajdhani-Display";
  font-weight: 700;
  font-style: normal;
  src: url("./assets/fonts/Rajdhani-Bold.eot");
  src: url("./assets/fonts/Rajdhani-Bold.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/Rajdhani-Bold.woff2") format("woff2"), url("./assets/fonts/Rajdhani-Bold.woff") format("woff"), url("./assets/fonts/Rajdhani-Bold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "GowunBatang";
  font-weight: 400;
  font-style: normal;
  src: url("./assets/fonts/GowunBatangRegular.eot");
  src: url("./assets/fonts/GowunBatangRegular.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/GowunBatangRegular.woff2") format("woff2"), url("./assets/fonts/GowunBatangRegular.woff") format("woff"), url("./assets/fonts/GowunBatangRegular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "GowunBatang";
  font-weight: 700;
  font-style: normal;
  src: url("./assets/fonts/GowunBatangBold.eot");
  src: url("./assets/fonts/GowunBatangBold.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/GowunBatangBold.woff2") format("woff2"), url("./assets/fonts/GowunBatangBold.woff") format("woff"), url("./assets/fonts/GowunBatangBold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "GowunDodum";
  font-weight: normal;
  font-style: normal;
  src: url("./assets/fonts/GowunDodumRegular.eot");
  src: url("./assets/fonts/GowunDodumRegular.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/GowunDodumRegular.woff2") format("woff2"), url("./assets/fonts/GowunDodumRegular.woff") format("woff"), url("./assets/fonts/GowunDodum.ttf") format("truetype");
  font-display: swap;
}
:root {
  --white: #fff;
  --black: #000;
  --bg-light: #f0eeeb;
  --bg-light-border: #dad8d1;
  --bg-dark: #000;
  --bg-dark-border: #2e2e30;
  --font-size: 16px;
  --font-height: 1.4;
  --font-color: #202020;
  --font-main: "SaolDisplay-Regular";
  --font-sub1: "PlayfairDisplay-Regular";
  --font-sub2: "Rajdhani-Display";
  --font-kor1: "GowunBatang";
  --font-kor2: "GowunDodum";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

body,
button,
input,
select,
table,
textarea {
  font-size: var(--font-size);
  line-height: var(--font-height);
  color: var(--font-color);
  font-family: var(--font-main), -apple-system, “Malgun Gothic”, “맑은 고딕“, BlinkMacSystemFont, “Segoe UI”, Roboto, Oxygen, Ubuntu, Cantarell, “Open Sans”, “Helvetica Neue”, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:hover,
a:focus {
  color: var(--font-color);
  text-decoration: none;
}

input,
textarea,
button,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  font-size: var(--font-size);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

ul {
  list-style: none;
}

em,
address {
  font-style: normal;
}

strong {
  font-weight: normal;
}

img {
  vertical-align: top;
  width: 100%;
}

table {
  border: 0;
  border-collapse: collaspe;
  border-spacing: 0;
  width: 100%;
}

body {
  background: var(--bg-light);
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.cont__title {
  padding: 14vmax 0;
  font-size: 80px;
  font-family: var(--font-main);
  color: var(--white);
  line-height: 1;
  text-transform: uppercase;
}
.cont__title strong {
  display: block;
}

.cont__contact {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--white);
  text-transform: uppercase;
}
.cont__contact p {
  font-size: 20px;
  font-family: var(--font-sub2);
  margin-bottom: 20px;
}
.cont__contact h3 {
  font-size: 9vw;
  font-family: var(--font-main);
  line-height: 1;
  text-align: center;
}
.cont__contact h3 em {
  display: block;
}
.cont__contact a {
  font-size: 16px;
  font-family: var(--font-sub2);
  border: 1px solid var(--white);
  border-radius: 50px;
  padding: 1vw 4vw;
  color: var(--white);
}